/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --col-foreground: #171717;
  --col-foreground-low-opacity: #171717a3;
  --col-white: #f4f2ee;
  --base-spacing: 2rem;
  --font-sans: Helvetica, Arial, sans-serif;
  --col-1: 20rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overscroll-behavior: none;
}

html {
  color: var(--col-foreground);
  font-family: var(--font-sans);
  font-size: min(calc((100vw / 1920) * 10), 10px);
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  background-color: var(--col-white);
  font-size: 1.8rem;
}

a {
  color: var(--col-foreground);
  text-decoration: none;
  text-transform: uppercase;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  width: min(100%, 1920px);
  margin-inline: auto;
}

.full-height {
  min-height: 100vh;
  padding-top: calc(8 * var(--base-spacing));
}

.pad-x {
  padding-inline: var(--base-spacing);
}

nav {
  padding: var(--base-spacing);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  align-items: center;
}

.nav__logo {
  width: min(100%, var(--col-1));
}

.nav__logo svg {
  width: 8.0rem;
  height: auto;
}

.nav__logo svg path {
  fill: var(--col-foreground);
}

.nav__logo__text {
  display: block;
  font-size: 0;
  height: 0;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.nav__menu li:not(:last-child) {
  margin-right: var(--base-spacing);
}

.home {}

.about__hero,
.home__projects {
  position: relative;
  display: flex;
  flex-direction: row;
}

.about__left,
.home__projects__left {
  position: sticky;
  top: calc(10 * var(--base-spacing));
  height: fit-content;
  margin-left: var(--col-1);
}

.about__title,
.home__projects__title {
  margin-bottom: calc(6 * var(--base-spacing));
}

.home__projects__list {
  position: relative;
}

.home__projects__list li {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.home__projects__list li span {
  font-size: 4.8rem;
  font-weight: 600;
}

.home__projects__list li:not(:last-child) {
  margin-bottom: calc(0.25 * var(--base-spacing));
}

.home__projects__list li:not(:first-child) {
  display: none;
}

.about__description,
.home__projects__gallery {
  margin-left: calc(20 * var(--base-spacing));
}

.home__projects__gallery .home__projects__item:not(:last-child) {
  margin-bottom: var(--base-spacing);
}

.home__projects__item {
  /* margin-left: 10%; */
}

.home__projects__item__img {
  width: 60rem;
  aspect-ratio: 16/9;
  overflow: hidden;
}



.about__description {
  width: min(100%, 95rem);
  font-size: 3.6rem;
  text-wrap: pretty;
}

.about__break__2,
.about__break__1 {
  margin-block: calc(10 * var(--base-spacing));
}

.about__break__2 span,
.about__break__1 span {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-left: calc(14 * var(--base-spacing));
  margin-bottom: calc(10 * var(--base-spacing));
}

.about__break__2 span {
  margin-left: calc(9 * var(--base-spacing));
}

.about__break__1-img-1 {
  margin-left: calc(-10 * var(--base-spacing));
  width: min(100%, 50rem);
  height: auto;
}

.about__break__1-img-2 {
  margin-left: calc(20 * var(--base-spacing));
  margin-top: calc(-4 * var(--base-spacing));
  width: min(100%, 50rem);
  height: auto;
}

.about__break__2-img-1 {
  margin-left: calc(18 * var(--base-spacing));
  width: min(100%, 55rem);
  height: auto;
}

.about__break__2-img-2 {
  margin-left: calc(-15 * var(--base-spacing));
  margin-top: calc(-6 * var(--base-spacing));
  width: min(100%, 50rem);
  height: auto;
}

.about__awards {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.about__socials span,
.about__awards span {
  display: block;
  font-size: 1.4rem;
  margin-bottom: var(--base-spacing);
  text-transform: uppercase;
}

.about__awards__line {
  display: flex;
  border-top: 0.1rem solid var(--col-foreground-low-opacity);
  padding-top: var(--base-spacing);
  padding-bottom: calc(3 * var(--base-spacing));
}

.about__awards__line-col-1 {
  width: 40%;
}

.about__awards__line-col-2 {
  width: 40%;
}

.about__awards__line-col-3 {
  width: 20%;
}

.about__socials__platform {
  display: flex;
}

.about__socials__platform li:not(:last-child) {
  margin-right: var(--base-spacing);
}

.about__socials {
  padding-bottom: calc(8 * var(--base-spacing));
}

[data-transition="container"] {
  transform: translateZ(0);
  backface-visibility: hidden;
}

@media(max-width: 769px) {
  html {
    font-size: min(calc((100vw / 768) * 10), 10px);
  }

  body {
    font-size: 1.6rem;
  }

  .home__projects__left {
    margin-left: 0;
  }

  .home__projects__gallery {
    margin-left: calc(6 * var(--base-spacing));
  }

  .home__projects__item__img {
    width: 100%;
  }

  .home__projects__title {
    margin-bottom: calc(3 * var(--base-spacing));
  }

  .home__projects__list li span {
    font-size: 3.2rem;
    font-weight: 600;
  }

}